<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-primary"><i class="fa fa-lock"></i> Client Panel</span><p>Login</p>
        </h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
          <app-input id="email" label="Email" type="email" [control]="authForm.get('email')">
          </app-input>

          <app-input id="password" label="Password" type="password" [control]="authForm.get('password')">
          </app-input>
          <input type="submit" value="Login" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>